.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.toast {
  opacity: 1 !important;
}

.navbar-dark .navbar-text {
  color: rgba(255, 255, 255, 1);
}

.logo {
  height: 100px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
